<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link text-white" href="#">
            <i class="nav-icon bi bi-speedometer2"></i> Dashboard
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="#">
            <i class="nav-icon bi bi-person"></i> Profile
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="#">
            <i class="nav-icon bi bi-gear"></i> Settings
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="#">
            <i class="nav-icon bi bi-question-circle"></i> Help
        </a>
    </li>
</ul>